@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();

// Define the theme
$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Include theme styles for core and each component
@include mat.all-component-themes($theme);

// Global styles
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Form styles
.form-field-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.full-width {
  width: 100%;
}

// Card styles
mat-card {
  margin: 1rem;
  border-radius: 8px !important;
}

// Error message styles
mat-error {
  font-size: 12px;
  margin-top: 4px;
}
